/*UtilitY*/
body{
    font-family: 'Roboto', sans-serif;
  }

/*header*/
header {
  height: 70px;
  width: 100%;
  background-color: #F8F9FA;
}
.ms_logo_sm{
    width: 50px;
}
.ms_bg_header{
    background-color: white;
}
.ms_action{
    border: 2px solid #E5E5E5;
    background-color: #E5E5E5;
}
.ms_li li:not(li:first-child) {
    margin-left: 10px;
}
.ms_dropdown .bi-bell-fill{
    color: #FF8F00; 
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
}
/*navbar*/
.ms_aside {
    font-family: 'Poppins', sans-serif;
    width: 50px;
    position: relative;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}
.ms_aside  i {
    font-size: 1.4rem;
    padding-right: 10px;
}
.ms_aside a {
    color: white;
}
/*content*/
.ms_content_main {
    overflow: auto;
    height: calc(100vh - 70px);
    width: calc(100% - 50px);
}

.ms_top_main {
    color: white;
    background-color: #1b72e8;
  }
  
  .ms_top_main span.badge {
    background-color: rgba(0,0,0,0.3);
    font-size: .8rem;
}
@media screen and (min-width:992px){
    .ms_aside {
        width: 150px;
    }
    .ms_content_main {
        overflow: auto;
        height: calc(100vh - 70px);
        width: calc(100% - 150px);
    }

    
}
