/*UtilitY*/
body{
    font-family: 'Roboto', sans-serif;
  }
  img{
    max-width: 100%;
  }

/*header*/
header {
  height: 70px;
  width: 100%;
  background-color: #F8F9FA;
}
.ms_logo_sm{
    width: 50px;
}
.ms_bg_header{
    background-color: white;
}
.ms_action{
    border: 2px solid #E5E5E5;
    background-color: #E5E5E5;
}
.ms_li li:not(li:first-child) {
    margin-left: 10px;
}
.ms_dropdown .bi-bell-fill{
    color: #FF8F00; 
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.1);
}
/*navbar*/
.ms_aside {
    font-family: 'Poppins', sans-serif;
    width: 70px;
    position: relative;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}
.ms_aside  i {
    font-size: 1.4rem;
    padding-right: 10px;
}
.ms_aside a {
    color: white;
}
/*content*/
.ms_content_main {
    overflow: auto;
    height: calc(100vh - 70px);
    width: calc(100% - 70px);
}

.ms_top_main {
    color: white;
    background-color: #1b72e8;
  }
  
.ms_top_main span.badge {
    background-color: rgba(0,0,0,0.3);
    font-size: .8rem;
}
.ms_canvas.offcanvas.offcanvas-end {
  width: 40vw;
}


  th:nth-child(2), td:nth-child(2), th:nth-child(3),td:nth-child(3) {
    display: none;
  }
  
table th:first-child, td:first-child {
    text-align: left;
}
  
th,td {
    text-align: center;
}
  
td:not(td:first-child){
    width: 110px;
}
  
tr td img {
    width: 30px;
    vertical-align: middle;
}
  
tr td:last-child span{
  display: inline-block;
  border: 1px solid #6c757d;
  font-size: .9rem;
  color: #6c757d;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 5px;
}
.ms_grafico p, .ms_grafico li, .ms_grafico a {
  font-size: .9rem;
}

/*responsive*/
@media screen and (min-width: 660px){
    th:nth-child(2), 
    td:nth-child(2) {
    display: table-cell;
    }
  }
@media screen and (min-width: 538px){
    th:nth-child(3), 
    td:nth-child(3) {
    display: table-cell;
    }
  }
@media screen and (min-width:768pxpx){
  .ms_aside {
    width: 150px;
  }
  .ms_content_main {
    overflow: auto;
    height: calc(100vh - 70px);
    width: calc(100% - 150px);
  }
}
@media screen and (min-width:992px){
  .ms_aside {
    width: 150px;
  }
  .ms_content_main {
    overflow: auto;
    height: calc(100vh - 70px);
    width: calc(100% - 150px);
  }
   
    
}
